Code/.vs/
Code/GymManagement.Api/obj/
Code/GymManagement.Api/bin/
Code/GymManagement.Application/bin/
Code/GymManagement.Application/obj/
Code/GymManagement.Domain/bin/
Code/GymManagement.Domain/obj/
Code/GymManagement.Infrastructure/bin/
Code/GymManagement.Infrastructure/obj/
Code/GymManagement.Contracts/bin/
Code/GymManagement.Contracts/obj/
